<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards</title>
</head>

<body>

    <div class="container">
        <div class="row mt-4">
            <a href="{% url 'createcard'%}">
                <button class="btn btn-success mt-4">Add card</button>

            </a>
        </div>
        <div class="row">
            {% for card in cards%}
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{card.title}}</h5>
                        <h5 class="card-title">{{card.subject}}</h5>
                        <p class="card-text">{{card.note}}.</p>
                        <p class="card-text"><small class="text-muted">{{card.time}}</small></p>
                    </div>
                    <button class="btn btn-danger">Delete</button>
                    <span>   
                                         <button class="btn btn-secondary">Update</button>
                    </span>
                </div>
                <hr>

            </div>

            {% endfor%}
        </div>
    </div>
</body>

</html>